<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="d-flex align-items-center justify-content-center" style="height: 600px;">
            <form class="needs-validation" th:action="@{/login}" th:object="${user}" method="post" novalidate>
                <h6 class="fs-3">Please sign in</h6>
                <div class="">
                    <input type="email" name="email" th:field="*{email}" class="form-control form-control-lg" id="email" placeholder="Email address" required>
                    <div class="invalid-feedback">
                        Please provide an email.
                    </div>
                </div>
                <div class="mb-3">
                    <input type="Password" name="password" th:field="*{password}" class="form-control form-control-lg" id="Password" placeholder="Password" required>
                    <div class="invalid-feedback">
                        Please provide a password.
                    </div>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    (() => {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
    })()
</script>

</body>
</html>